# SafeX Backend API Base URL
NEXT_PUBLIC_API_URL=http://localhost:4000

# Blockchain JSON-RPC Providers (Optional overrides for Alchemy, Infura, or QuickNode)
# NEXT_PUBLIC_SEPOLIA_RPC_URL=https://ethereum-sepolia-rpc.publicnode.com
# NEXT_PUBLIC_MAINNET_RPC_URL=https://eth.llamarpc.com
